/* Rules for all web pages */
body {
    background-color: #9ba0bc; 
    padding: 10px;
  }
  h1, h2 {
    color: white;
    margin: 0px;
    background-color: #a9ddd6;
    padding: 10px;
    text-align: center;
  }
  p {
    color: white;
    background-color: #c1b8c8; 
    padding: 0px 20px;
    text-align: justify;
  }
  
  /* Rules for interpage navigation */ 
  nav ul {
    list-style-type: none;
    text-align: center;
    padding-left: 0px; 
  }
  nav li {
    display: inline-block;
    padding: 0px 4px 2px 4px;
    margin: 2px 4px 2px 4px;
    background-color: #9ba0bc;
    border: outset;
    border-color: #ffffff;
  }
  nav a {text-decoration: none;}
  
  /* Rule for form's input styles */  
  input {margin: 2px 15px 2px 2px;}